h1 {
  text-align: center;
  font-family: Papyrus;
  background-color: Black;
  margin: 0;
  color: white;
}
h3 {
  text-align: center;
  font-family: Papyrus;
  margin: 0;
}

h2 {
  font-family: Papyrus;
  margin: 0;
  text-align: center;
}

.body {
  background-color: #BBBBBB;
  text-align: center;
}

.bottomimage {
  text-align: center;
}

.categories {
  margin: 0;
  background-color: #BBBBBB;
  padding-top: 50px;
  padding-bottom: 50px;
}

.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-right: 30px;
}
.col-3 img {
  height: 50%;
  flex: 33.33%;
  margin: 10px;

}

.contact {
  display: inline;
}

.conact_boxes {
  padding-left: 20px;
}

.footer {
  text-align: center;
}

.hours {
  display: inline;
}

.row {
  display: flex;
  margin-top: 30px;
}

.title {
  text-align: center;
  font-family: Papyrus;
  margin: 0;
}

.visit {
  display: inline;
}

/*--------cart items---------*/

.cart-page {
  margin: 80px auto;
}
table {
  width: 100%;
  border-collapse: collapse;
}
.cart-info {
  display: flex;
  flex-wrap: wrap;
}
th {
  text-align: left;
  padding: 5px;
  color: #fff;
  background: #ff523b;
  font-weight: normal;
}

td {
  padding: 10px 5px;
}

td input {
  width: 40px;
  height:30px;
  padding: 5px;
}

td a {
  color: #ff523b;
  font-size: 12px;
}

td img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.total-price {
  display: flex;
  justify-content: flex-end;
}

.total-price table {
  border-top: 3px solid #ff523b;
  width: 100%;
  max-width: 370px;
}

td:last-child {
  text-align: right;
}

th:last-child {
  text-align: right;
}
