h1 {
  text-align: center;
  font-family: Papyrus;
  background-color: #E0C097;
  margin: 0;
}

.body {
  background-color: black;
  padding-top: 5%;
  padding-bottom: 5%;
  color: white;
  height: 1000px;
}

.body_h3 {
  padding-left: 20px;
}

.bottomimage {
  text-align: center;
}

.contact {
  display: inline;
}

.conact_boxes {
  padding-left: 20px;
}

.footer {
  text-align: center;
}

.hours {
  display: inline;
}

.visit {
  display: inline;
}
